[Unit]
Description=Teleport SSH Service
After=network.target 

[Service]
Type=simple
Restart=on-failure
ExecStart=/bin/bash -c "env ; exec /usr/local/bin/teleport start --pid-file=/run/teleport.pid \
   --roles=node \
   --token=$TELEPORT_TOKEN \
   --ca-pin=$TELEPORT_CA_PIN \
   --auth-server=127.0.0.1:3025"
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/teleport.pid

[Install]
WantedBy=multi-user.target
